.pagination {
    list-style: none;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}
.pagination li {
    display: inline-block;
    padding: 10px;
    user-select: none;
}
.pagination li:first-of-type {
    color: #e60000;
}
.pagination li.active {
    color: #e60000;
}
body {
    background-color: green;
}